
/* ============================================================================= ===================== ============================================================================= */
/* ============================================================================= ===================== ============================================================================= */
/* ============================================================================= ===================== ============================================================================= */
/* ============================================================================= COMPUTER ----- DESIGN ============================================================================= */
/* ============================================================================= ===================== ============================================================================= */
/* ============================================================================= ===================== ============================================================================= */
/* ============================================================================= ===================== ============================================================================= */

body {
    height: 230vh;
    margin-top: 130px;
}



/*First top of the page - w/ title*/
.secondaryHeader {
    background-color: rgb(255, 255, 255);
    height: 150px;
    display: block;
}

#pathCategorie{
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 11px;
    padding-top: 30px
}

#mainCategorie {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;   
    padding-top: 5px;
    text-transform: capitalize;
}

/*All articles container*/
.articlesContainer {
    background-color: #F5F6F8;
    height: auto;
    display: flex;
    padding: 40px 60px;
}

/*filterContainer*/
.filterContainer {
    height: auto;
    min-width: 300px;
    max-width: 300px;
}

.filterContainer p{
    color: gray;
    width: 80%;
}

details {
    width: 60%;
    transition-delay: 2s;
    margin-top: 30px;

}

details[open] .categoriesContainer {
    padding-bottom: 20px;
    border-bottom: 1px solid #d1d1d1;
    width: auto;
    display: block;

    /*align-items: center;*/
}

.subCategorieName {
    margin-top: 10px;
    width: 100%;
}
  
details[open] summary {
    margin-bottom: 15px;
}

summary {
    font-size: 14px;
    text-transform: uppercase;
    transition: all 150ms ease-out;
    font-weight: bold;
    
  }

summary::before {
    content: "";
    margin-right: 15px;

}

summary[open] {
    border-bottom: 1px solid #dc6060;
}

label {
    margin-left: 40px;
    letter-spacing: normal;
    text-transform: capitalize;
}

label.noTouchableLabel::before {
    outline: none;
}

.noTouchable {
    outline: none;
    pointer-events: none
}

input[type='checkbox'] {
    opacity: 0;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
}

/*For the button just before*/

label::before {
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    background-color: #797979;
    position: absolute;
    margin-left: -30px;
    margin-top: 4px;

    transform: scale(0);
    transition: all 1ms ease-in;
}

/*For the bakcground of the button just before*/
label::after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;

    border : 1.4px solid #c2c2c2;
    position: absolute;
    margin-left: -31.5px;
    margin-top: -15px;
}

input[type='checkbox']:checked + label::before {
    transform: scale(1);
}

#colorContainer {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left:-20px;
    margin-top: 10px;
}

.bubbleColor {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.bubbleColor#white {
    background-color: white;
}

.bubbleColor#black {
    background-color: black;
}

.bubbleColor#yellow {
    background-color: #FAEB67;
}

.bubbleColor#brown {
    background-color: #A57738;
}

.bubbleColor#green {
    background-color: green;
}

.bubbleColor#beige {
    background-color: #DFC4A3;
}

.bubbleColor#orange {
    background-color: #FFB449;
}

.bubbleColor#darkgreen {
    background-color: #89B379;
}

.bubbleColor#blue {
    background-color: #325B8C;
}

.bubbleColor#purple {
    background-color: #BF55BD;
}


.bubbleColor#ligthblue {
    background-color: #8DE4DC;
}

.bubbleColor#grey {
    background-color: #C5C5C5;
}

.bubbleColor#pink {
    background-color: #FDBFD7;
}

.bubbleColor#gold {
    background-color: #D3B360;
}

.redBorder {
    border: 1px solid red;
}

#articlesRenderContainer {
    height: auto;
    width: 80%;
}

/*ARTICLES PART*/
.gridArticles{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    column-gap: 16px;
}

.grid-item {
    background-color: white;
    font-size: 30px;
    text-align: center;
    min-height: 510px;
    margin-bottom: 20px;
}

.grid-item {
    width: 100%;
    height: 90%;
    padding: 10px;
}

.headerArticleItem {
    max-width: 92%;
    min-width: 92%;
    height: 40px;
    /*background-color: red;*/
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.imageArticle {
    max-width: 92%;
    min-width: 92%;
    height: 250px;
    background-color: orange;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.infoArticle {
    /*background-color: #2196F3;*/
    height: 180px;
    max-width: 92%;
    min-width: 92%;
    align-items: flex-start;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.infoArticle h6 {
    text-align: start;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: normal;
    font-size: 14px;
    padding-bottom: 5px;
}

.infoArticle p {
    text-align: start;
    letter-spacing: normal;
    font-size: 14px;
    text-transform: capitalize;
    margin-top: -5px;
    color: #414141;
}

.originalPriceContainer {
    display: flex;
    align-items: center;
    justify-content: left;
}

p.originalPrice {
    color: rgb(179, 8, 8);
    text-decoration:line-through;
    margin-top: -5px;
    font-weight: 600;
}

.originalPriceLabel {
    display: flex;
    align-items: flex-start;
    justify-content: left;
}

.originalPriceLabel::before {
    content: " :  ";
    width: 10px;
    text-decoration: inherit;
    margin-top: -6px;
    font-weight: 200;
    color: #000;
}

.rentalPrice {
    font-weight: bold;
}

.rentalPrice::after {
    content: " / per 3 days";
    font-weight: 100;
    font-size: 12px;
    text-transform: none;
}

.locationContainer {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
}

.locationSvg {
    width: 15px;
    margin-top: -18px;
}
.locationContainer p {
    margin-left: 5px;
}