* {
  font: 15px 'LT Galaxy Reverse', sans-serif;
  margin: 0px;
  letter-spacing: 0.8px;
}

body {
  height: 230vh;
  margin-top: 130px;
}


/*==== HEADER ====*/
header {
  background-color: white;
  width: 100vw;
  height: 130px;
  border-color: #00B7FF;
  border-bottom: 1px solid #E4E4E4;
  position: fixed;
  top: 0;
  z-index: 999999;
}

.headerInfos {
  height: 53%;
  border-bottom: 1px solid #E4E4E4;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: space-around;
}

.headerInfos .titleSite h1 {
  font-size: 25px;
}

.headerInfos .searchInputContainer {
  width: 40%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  display: flex;
  padding-left: 20px;
}

.headerInfos .buttonSide {
  /*background-color: red;*/
  width: 40%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  display: flex;
}

.searchInputContainer form {
  width: 80%;
  margin-left: 5px;
}

.inputSearch {
  border-width: 0px;
  width: 100%;
  height: 30px;
  outline: none;
}

.inputSearch::placeholder {
  color: #414141;
  font-size: 13px;
}

.buttonContainer {
  /*background-color: red;*/
  min-width: 60%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.rentButton {
  background-color: black;
  color: #fff;
  border-width: 0px;
  padding: 10px 14px;
  border-radius: 2px;
  font-size: 11px;
  cursor: pointer;
  margin-right: 10px;
  min-width: auto;
  height: 80%;
  font-weight: 500;
}

.accountButton {
  border-width: 0px;
  background-color: white;
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
}

.buttonContainer button {
  cursor: pointer;
}

/* SECOND PART OF THE MENU */

nav {
  height: 47%;
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  width: auto;
  justify-content: space-between;
  margin-left: 10px;
  margin-top: 5px;
  list-style-type: none;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 50px;
}

nav li {
  display: block;
  list-style: none;
}

li a {
  font-weight: 300;
  font-size: 8;
  width: 100%;
  padding: 10px 0px 10px 0px;
  cursor: pointer;
}

li .menuLink {
  margin-left: 40px;
}


/* UNDERLINE THE MENU */
nav #marker{
	position: absolute;
	bottom: 5px;
	left: 0;
	background-color:#A9D6E5;
	width: 0;
	height: 2px;
	transition: 0.2s; 
  z-index: 9999;
}


/*First page ---- HOME*/
.homeBack {
  height: 70vh;
  width: 100vw;
  background-image: url("../assets/backgroundHome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -240px;
}

.blockTitle {
  width: 320px;
  position: absolute;
  height: 220px;
  background-color: white;
  left: 10%;
  top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.blockContainer {
  width: 85%;
  height: 80%;
  /*background-color:#00B7FF;*/
  justify-content: space-between;
}

.blockTitle h1 {
  letter-spacing: normal;
  font-size: 28px;
  padding: 0px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 37px;
  margin-top: 5px;
}

.blockTitle button {
  letter-spacing: normal;
  font-size: 12px;
  padding: 13px 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  width: 100%;
  border-width: 0px;
  background-color: #000000;
  margin-top: 30px;
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
}

.blockContainer a {
  font-size: 10px;
  letter-spacing: normal;
  color: #7dc2d8;
  text-decoration: underline;
  top: 200px;
}

.blockMenu {
  background-color: #414141;
}

.menuLink {
  width: fit-content;
}

.menuLink .blockMenu {
  position: absolute;
  margin-top: 0px;
  width: auto;
}