/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");


/*=============== VARIABLES CSS ===============*/

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
  :root {
    --h2-font-size: 1.5rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/



.containerfleet img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.containerfleet{
  display: grid;
  place-items: center;
  margin-inline: 1.5rem;

}

.containerfleet .card__container {
  display: grid;
  row-gap: 3.5rem;
}

.containerfleet .card__article {
  position: relative;
  overflow: hidden;
  height: 350px;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  transition: transform 0.3s ease; /* Animation fluide */
}
.containerfleet .card__article:hover {
    transform: scale(1.05);
}

.containerfleet h3{
    font-size: large;
    text-align: center;
    font-weight: bold;
}

.containerfleet .card__img {
  width: 328px;
  border-radius: 1.5rem;
  margin-top: 40px;
  

}

.containerfleet .card__data {
  width: 280px;
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
  border-radius: 1rem;
  position: absolute;
  bottom: -9rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  opacity: 0;
  transition: opacity 1s 1s;
}

.containerfleet .card__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.containerfleet .card__title {
  font-size: var(--h2-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: .75rem;
}

.containerfleet .card__button {
    background-color: rgb(255, 255, 255);; /* Couleur de fond blanche */
    border: 1px solid #000000; /* Bordure grise */
    border-radius: 20px; /* Bordures arrondies */
    color: #000000; /* Couleur du texte noire */
    font-size: 11px; /* Taille de la police */
    padding: 10px 15px; /* Espacement intérieur */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Ombre portée */
    transition: all 0.2s ease-in-out; /* Transition pour l'effet de survol */
    
    text-decoration: none;
}

.containerfleet .card__button:hover {
    background-color: #000000; /* Couleur de fond au survol */
    border: #000;
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
    color: white;
}


/* Naming animations in hover */
.containerfleet .card__article:hover .card__data {
  animation: show-data 1s forwards;
  opacity: 1;
  transition: opacity .3s;
}

.containerfleet .card__article:hover {
  animation: remove-overflow 2s forwards;
}

.containerfleet .card__article:not(:hover) {
  animation: show-overflow 2s forwards;
}

.containerfleet .card__article:not(:hover) .card__data {
  animation: remove-data 1s forwards;
}

/* Card animation */
@keyframes show-data {
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(-7rem);
  }
}

@keyframes remove-overflow {
  to {
    overflow: initial;
  }
}

@keyframes remove-data {
  0% {
    transform: translateY(-7rem);
  }
  50% {
    transform: translateY(-10rem);
  }
  100% {
    transform: translateY(.5rem);
  }
}

@keyframes show-overflow {
  0% {
    overflow: initial;
    pointer-events: none;
  }
  50% {
    overflow: hidden;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
    .containerfleet {
    margin-inline: 1rem;
  }

  .containerfleet .card__data {
    width: 250px;
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
    .containerfleet .card__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
  }
}

/* For large devices */
@media screen and (min-width: 1120px) {
    .containerfleet {
    height: 100vh;
  }

  .containerfleet .card__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .containerfleet .card__img {
    width: 348px;
  }
  .containerfleet .card__data {
    width: 316px;
    padding-inline: 2.5rem;
  }
}