extends layout

block content
  head
    link(rel='stylesheet', href='/stylesheets/ArticlesPagestyle.css')
    script(src='/javascripts/ficheArticle.js')
  body#body1

    .secondaryHeader1
      p#pathCategorie Home #{department ? ' > ' + department : ''} #{categorie ? ' > ' + categorie : ''}
      h1#mainCategorie #{categorie ? categorie : department}

    .productContainer
      .productHeaderInfos
        .productName 
          h1#brandheader 
      
      .productImage
        img(src='/images/product_image.jpg', alt='Product Image')
      .productDetails
        h1#productName 
        p#sexe 
        p#size 
        #OriginalPriceContainer
          p Original price : 
          p#priceoriginal 
        p#ReelPrice 
        #locContainer
          img(src="/assets/svg/location-sign.svg").locationSvg
          p#pays
          p#ville
          

 
        .details 
          h4 Details
            details 
              summary  More information 
              p#Online since:
              p#Categories 
              p#Category
              p#Sub-category
              p Model:
              p Condition:
              p Material:
              p Color:
              p Location:United States, from the seller vi
              p Reference
        button(type='button' id="button1") Order
        button(type='button' id="button2") Favourite