extends layout

block content
  body
    .homeBack
      .blockTitle
        .blockContainer
          h1 Ready to be the star of tonight?
          button Rent now
          a(href="/") Learn how it works
