doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <meta name="viewport" content="width=device-width, initial-scale=1">
    script.
      function closeLoginForm() {
        const form = document.getElementById("container")
        form.style.display = 'none';
        }

        document.addEventListener('DOMContentLoaded', () => {
            const passwordErrorElement = document.getElementById('password-error');

            // Masquer le message d'erreur lorsque le formulaire est soumis
            document.querySelector('form').addEventListener('submit', () => {
            passwordErrorElement.classList.remove('visible');
            });
          });
    
  body
    block content
