doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/javascript.js')

    //-     ====      CONFIGURATION DE BOOTSTRAP
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    //-     ====
  body
    .headerMenuRegroupment
      header
        .headerInfos

          .searchInputContainer
            svg(xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25" viewBox="0 0 48 48")
              path(d="M 20.5 6 C 12.509634 6 6 12.50964 6 20.5 C 6 28.49036 12.509634 35 20.5 35 C 23.956359 35 27.133709 33.779044 29.628906 31.75 L 39.439453 41.560547 A 1.50015 1.50015 0 1 0 41.560547 39.439453 L 31.75 29.628906 C 33.779044 27.133709 35 23.956357 35 20.5 C 35 12.50964 28.490366 6 20.5 6 z M 20.5 9 C 26.869047 9 32 14.130957 32 20.5 C 32 23.602612 30.776198 26.405717 28.791016 28.470703 A 1.50015 1.50015 0 0 0 28.470703 28.791016 C 26.405717 30.776199 23.602614 32 20.5 32 C 14.130953 32 9 26.869043 9 20.5 C 9 14.130957 14.130953 9 20.5 9 z")
            form
              input(type="text" id="fname" name="fname" placeholder="Search by brand, item..." color="#292929").inputSearch
          .titleSite 
            p.h3.mt-2 LOKAGO
            
          .buttonSide 
            .buttonContainer
              button.rentButton Rent your item
              button.accountButton Log in
              button.accountButton Sign up
              img(src="/assets/blackLogo.png" width="25px")

          #openMenuBar
            span#menuBar1
            span#menuBar2.mt-1
            span#menuBar3.mt-1


        nav#menu
            div#marker
            ul.mt-3
              li.navbar__items
                a#womenMenu Women
                #blockMenu1.blockMenu
                  .submenu
                    a(href="/article/women_categorie=dress")
                      h1 Dress
                    a(href="/article/women_categorie=dress_subcategory=satindress")
                      p Satin dress
                    a(href="/article/women_categorie=dress_subcategory=ballgown")
                      p Ball gown
                    a(href="/article/women_categorie=dress_subcategory=cocktaildress")
                      p Cocktail dress
                    a(href="/article/women_categorie=dress_subcategory=fitandflaredress")
                      p Fit and flare dress
                    a(href="/article/women_categorie=dress_subcategory=high-lowdress")
                      p High-low dress
                    a(href="/article/women_categorie=dress_subcategory=weddingdress")
                      p Wedding dress

                  .submenu
                    a(href="/article/women_categorie=pantsuits")
                      h1 Pantsuits
                    a(href="/article/women_categorie=pantsuits_subcategory=evening")
                      p Evening
                    a(href="/article/women_categorie=pantsuits_subcategory=corduroy")
                      p Corduroy
                    a(href="/article/women_categorie=pantsuits_subcategory=silk")
                      p Silk
                    a(href="/article/women_categorie=pantsuits_subcategory=jacquardpatterned")
                      p Jacquard patterned


                  .submenu
                    a(href="/article/women_categorie=top")
                      h1 Top
                    a(href="/article/women_categorie=top_subcategory=sequin")
                      p Sequin
                    a(href="/article/women_categorie=top_subcategory=velvet")
                      p Velvet
                    a(href="/article/women_categorie=top_subcategory=backless")
                      p Backless
                    a(href="/article/women_categorie=top_subcategory=satinbustier")
                      p Satin bustier
                    a(href="/article/women_categorie=top_subcategory=glisteningpearlcorset")
                      p Glistening pearl corset

                  .submenu
                    a(href="/article/women_categorie=shoes")
                      h1 Shoes
                    a(href="/article/women_categorie=shoes_subcategory=highheeledpumps")
                      p High-heeled pumps
                    a(href="/article/women_categorie=shoes_subcategory=satinstilettos")
                      p Satin stilettos
                    a(href="/article/women_categorie=shoes_subcategory=stylishheeledbooties")
                      p Stylish heeled booties
                    a(href="/article/women_categorie=shoes_subcategory=velvetheels")
                      p Velvet heels
                    a(href="/article/women_categorie=shoes_subcategory=metallicstilettos")
                      p Metallic stilettos
                    a(href="/article/women_categorie=shoes_subcategory=animalprintpumps")
                      p Animal print pumps


              li.navbar__items
                a.menuLink#menMenu Men
                #blockMenu2.blockMenu
                  .submenu
                    a(href="/article/men_categorie=suits")
                      h1 Suits
                    a(href="/article/men_categorie=suits_subcategory=tuxedo")
                      p Tuxedo
                    a(href="/article/men_categorie=suits_subcategory=tailored")
                      p Tailored
                    a(href="/article/men_categorie=suits_subcategory=doublebreasted")
                      p Double Breasted
                    a(href="/article/men_categorie=suits_subcategory=slimfit")
                      p Slim Fit
                  .submenu
                    a(href="/article/men_categorie=shirts")
                      h1 Shirts
                    a(href="/article/men_categorie=shirts_subcategory=frenchcuff")
                      p French Cuff
                    a(href="/article/men_categorie=shirts_subcategory=dressshirt")
                      p Dress Shirt
                    a(href="/article/men_categorie=shirts_subcategory=linenshirt")
                      p Linen Shirt
                    a(href="/article/men_categorie=shirts_subcategory=tuxedoshirt")
                      p Tuxedo Shirt
                  .submenu
                    a(href="/article/men_categorie=shoes")
                      h1 Shoes
                    a(href="/article/men_categorie=shoes_subcategory=oxford")
                      p Oxford
                    a(href="/article/men_categorie=shoes_subcategory=loafers")
                      p Loafers
                    a(href="/article/men_categorie=shoes_subcategory=monkstrap")
                      p Monk Strap
                    a(href="/article/men_categorie=shoes_subcategory=derby")
                      p Derby
                  .submenu
                    a(href="/article/men_categorie=accessories")
                      h1 Accessories
                    a(href="/article/men_categorie=accessories_subcategory=tie")
                      p Tie
                    a(href="/article/men_categorie=accessories_subcategory=cufflinks")
                      p Cufflinks
                    a(href="/article/men_categorie=accessories_subcategory=pocketsquare")
                      p Pocket Square

              li.navbar__items
                a.menuLink#kidsMenu Kids
                #blockMenu3.blockMenu
                  .submenu
                    a(href="/article/kids_categorie=girls")
                      h1 Girls
                    a(href="/article/kids_categorie=girls_subcategory=dresses")
                      p Dresses
                    a(href="/article/kids_categorie=girls_subcategory=skirts")
                      p Skirts
                    a(href="/article/kids_categorie=girls_subcategory=blouses")
                      p Blouses
                    a(href="/article/kids_categorie=girls_subcategory=shoes")
                      p Shoes

                  .submenu
                    a(href="/article/kids_categorie=boys")
                      h1 Boys
                    a(href="/article/kids_categorie=boys_subcategory=suits")
                      p Suits
                    a(href="/article/kids_categorie=boys_subcategory=shirts")
                      p Shirts
                    a(href="/article/kids_categorie=boys_subcategory=pants")
                      p Pants
                    a(href="/article/kids_categorie=boys_subcategory=shoes")
                      p Shoes

                  .submenu
                    a(href="/article/kids_categorie=girls_accessories")
                      h1 Girls Accessories
                    a(href="/article/kids_categorie=girls_accessories_subcategory=hair_accessories")
                      p Hair Accessories
                    a(href="/article/kids_categorie=girls_accessories_subcategory=jewelry")
                      p Jewelry
                      
                  .submenu
                    a(href="/article/kids_categorie=boys_accessories")
                      h1 Boys Accessories
                    a(href="/article/kids_categorie=boys_accessories_subcategory=ties")
                      p Ties
                    a(href="/article/kids_categorie=boys_accessories_subcategory=belts")
                      p Belts

              li.navbar__items
                a.menuLink Latest

              li.navbar__items
                a.menuLink Last minute

              li.navbar__items
                a.menuLink#aboutMenu About
                #blockMenu6.blockMenu
        nav#menuPhone
          .buttonContainer 
            a.accountButton.loginButton.text-center Rent your clothes
            a.accountButton.signinButton.text-center Sign up | Log in
            a.helpButton Need help ?


          .categorieContainer 
            h6 Categories
            a.categorieName
              p Women

            a.categorieName
              p Men

            a.categorieName
              p Kids

            a.categorieName
              p Events

            a.categorieName
              p Last minute

            
          .categorieContainer 
            h6 Discover
            a.categorieName
              p About us

            a.categorieName
              p How does it works

            a.categorieName
              p Privacy Policy

            a.categorieName
              p Terms & conditions

            a.categorieName
              p Contact us


      
          
            

    block content

