

block content

  head
    title= title
    link(rel='stylesheet', href='/stylesheets/connexion.css')

  
  body

    #containerConnexion
      div
        

        form(action="/users/add", method="post")

          .close-icon(onclick="closeLoginForm()") ×
          
          #ih
            h2 Welcome to  Lokago ! 
            img(src="/assets/logo.png", id="logo")
            
          h Sign Up to start renting

          <label for="name">Name</label>
          <input type="text" id="name" name="name" placeholder="Enter your Name" required>
        
          <label for="email">E-mail</label>
          <input type="text" id="mail" name="mail" placeholder="Enter your E-mail" required>

          <label for="password">Password </label>
          <input type="password" id="password" name="password" placeholder="Enter your password" required>

          <label for="phone">Phone Number</label>
          <input type="text" id="phone" name="phone" placeholder="Enter your phone number" required>

          p(id="signup-error" class="error-message #{signupError ? 'visible' : ''}")= signupError

          
          #button-SignUp
            button(type="submit") Sign Up 
            .or
              .trait  
              p or
              .trait 

          .signup-link
            a(href="/users/login") You are member ? Log in


  script.
    function closeLoginForm() {
      window.location.href = 'http://localhost:3000/'
    }

    document.addEventListener('DOMContentLoaded', () => {
        const passwordErrorElement = document.getElementById('password-error');

        // Masquer le message d'erreur lorsque le formulaire est soumis
        document.querySelector('form').addEventListener('submit', () => {
          passwordErrorElement.classList.remove('visible');
        });
    });
        