extends layout

block content
  head 
  body
    

    .section.mt-5.mb-5.py-5
        .containerfleet
            .card__container.mt-5
                article.card__article.mt-5
                    h3.mt-4 Mercedes Maybach S 580
                    img.card__img(src='assets/may.png' alt='image' )
                    .d-block.justify-content-end.mx-5.mt-2
                        p.ms-1 The most comfortable
                        a.card__button(href='#') Read More

                article.card__article.mt-5
                    h3.mt-4 Mercedes Class E
                    img.card__img(src='assets/classeee.png' alt='image')
                    .d-block.justify-content-end.mx-5.mb-5
                        p.ms-1 The most comfortable
                        a.card__button(href='#') Read More

                article.card__article.mt-5
                    h3.mt-4 Mercedes Class V
                    img.card__img(src='assets/vclass.png' alt='image')
                    .d-block.justify-content-end.mx-5.mt-2
                        p.ms-1 The most comfortable
                        a.card__button(href='#') Read More

                article.card__article
                    h3.mt-4 Range Rover 2024
                    img.card__img(src='assets/range1.png' alt='image')
                    .d-block.justify-content-end.mx-5.mt-2
                        p.ms-1 The most comfortable
                        a.card__button(href='#') Read More


    .section.mt-5.mb-5
        h2 ali 




       


    